*{
    margin:0;
}
body{
    overflow-x: hidden;
}
.logo1{
    position: absolute;
    top: 15px;
    left: 120px;
}
nav{
    display: flex;
    justify-content: space-around;    
}
ul li{
    display: inline;
    padding: 10px;
    font-size: 17px;
}
ul li a{
    list-style: none;
    text-decoration: none;
    color: black;

}
ul{
  position: absolute;
  right: 50px;
}
.redshirt{
    display: flex;
    justify-content: center;
}
.redlef{
    margin: 20px;
    position: relative;
    top: 130px;
}
.redrig{
    margin:7px;
    position: relative;
    top: 180px; 
}
.redshirt input{
    width: 30px;
    height: 30px;
}
.redshirt button{
    border-radius: 11px;
    background-color: orangered;
    border: none;
    padding: 10px 29px;
}
.redshirt h4{
    line-height: 30px;
}
.redshirt iframe{
    border: none;
}
.allpr{
    display: flex;
    position: relative;
    justify-content: space-around;
    top: 300px;
}
.newpr4{
    display: flex;
    position: relative;
    justify-content: space-between;
    margin: 95px;
    top: 75px;
    transition: transform 0.3s ease;
    top: 300px;
}
.newpr4 img:hover{
    transform: translate(10px, 10px);
}
.newpr4 h3{
    color: orange;
}
.end{
    margin-top: 219px;
    position: relative;
    top: 200px;
    background-color: black;
    height: 300px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    /* border: 2px solid red; */
}
.end h3{
    color: white;
}
.end h5{
    display: flex;
    line-height: 1px;
    text-align: center;
    color: rgb(63, 57, 57);
}
#dow{
    position: relative;
    transform: translate(70px,30px);
}
#redst{
    position: relative;
    transform: translate(-35px,40px);
}
#red{
    position: relative;
    transform: translate(87px,10px);
}
#use{
    position: relative;
    transform: translate(-110px,24px);
}
#follo{
    /* position: relative; */
    line-height: 30px;
    transform: translate(-130px,24px);
    text-align: center;
   
}

#linex{
    background-color: white;
    position: absolute;
    height: 1px;
    width: 1150px;
    transform: translate(55px,200px);
} 
.copyrig{
    position: absolute;
    transform: translate(10px,210px);
}